<div class="div-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="header-detail">
          <h1 class="h1-div">
          <a class="a" ui-sref=".dashboard"> <span class="glyphicon glyphicon-home home-icon"></span></a> Restaurant Management</h1>
        </div>  
      </div>
      <div class="col-md-8">
          <div class="col-md-4 restaurant-div home-div pull-right">
            <a class="a" ui-sref=".addRestaurant">Add Restaurant</a>
          </div>
          <div class="col-md-4 home-div pull-right">
            <a class="a" ui-sref=".restaurant">View Restaurant</a>
          </div>
      </div>
    </div>
  </div>
</div> 